|===
|Path|Type|Constraints|Description

{{#fields}}
|{{#tableCellContent}}`{{path}}`{{/tableCellContent}}
|{{#tableCellContent}}`{{type}}`{{/tableCellContent}}
|{{{constraints}}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}

{{/fields}}
|===